/*界面*/
body {
	background-color: #EEE;	
}

.main {
	font-size: 18px;
	margin: auto;
}

.header {
	background-color: #f3f3f3;
	background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #e5e5e5;
	height: 32px;
	padding-top: 8px;
}

.ShowMemberStatic {
	margin: 0 auto;
	width: 1000px;
}

.ShowMemberStatic ul {
	float: right;
}

.ShowMemberStatic ul li {
	float: left;
	margin-left: 15px;
}

.content {
	width: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}

.navigation {
	float: left;
	width: 150px;
	font-size: 18px;
}

.metabox {
	position: relative;
	margin-bottom: 10px;
	color: #333;
	padding: 10px;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 3px;
}

.show {
	float: left;
	width: 800px;
	margin-left: 5px;
}

.quest_table li {
	border-bottom: 1px solid #f1f1f1;
	padding: 0 0 20px 0;
	position: relative;
	min-height: 35px;
	overflow: hidden;
	margin: 0 0 20px 0;
	list-style-type: none;
}

.quest_table li a {
	text-decoration: none;
}

.quest_table h3 a {
	display: inline-block;
	line-height: 32px;
	position: relative;
	top: -5px;
}

.quest_table li a:hover {
	text-decoration: underline;
}

.filter-bar {
	padding: 0 0 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.quest_table h3
{
	float: left;
}
.finsh_rate
{
	float: right;
	margin-right: 100px;
}
.task_info
{
	float: right;
	margin-right: -200px;
}